<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@200;400&family=Sora:wght@100;500&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="../CSS/bootstrap.min.css">
        <link rel="stylesheet" href="../CSS/translated.css">
        <!--<link rel="stylesheet" href="../CSS/styles.css">-->
        <link rel="shortcut icon" href="../Img/Icon_Printcenter.png" type="image/x-icon">
        <title>Printcenter Soluciones Gráficas</title>
    </head>
    <body>
        <header  class="header">
            <div class="logo">
                <img src="../Img/Logo Printcenter - letras negras y grises.png" alt="Logo_Printcenter">
            </div>
            <div>
                <nav class="menu">
                    <a href="../index.html">Home</a>
                    <a href="./Nosotros.html">Nosotros</a>
                    <a href="./Servicios.html">Servicios</a>
                    <a href="./Portfolio.html">Portfolio</a>
                    <a href="./Contacto.html">Contacto</a>
                </nav>
            </div>   
        </header>
            <main class="principal">
                <section class="seccion">
                    <h1 class="titulo__principal">FORMULARIO DE CONSULTAS</h1>
                </section>
                <section class="contact-form mb-3">
                    <div class="contenedor">
                        <form action="" class="form">
                            <div class="form-header">
                                <h3 class="titulo__secundario">Contacto</h3>
                            </div>
                            <label for="Nombre" class="form-label">Nombre:</label>
                            <input type="text" id="nombre" class="form-input" placeholder="Escriba su nombre">
                            <label for="Dirección" class="form-label">Dirección:</label>
                            <input type="text" id="dirección" class="form-input" placeholder="Escriba su Dirección">
                            <label for="Correo" class="form-label">Correo Electrónico:</label>
                            <input type="text" id="email" class="form-input" placeholder="Escriba su Correo">
                            <label for="mensaje" class="form-label">Mensaje:</label>
                            <textarea name="" id="mensaje" cols="30" rows="10" class="form-textarea" placeholder="Escriba aqui su mensaje"></textarea>                        
                            <input type="submit" class="btn-submit" value="Enviar Consulta">
                        </form>
                    </div>
                    <div class="ayuda mb-3">
                        <h3>AYUDA PARA PEDIR PRESUPUESTOS</h3><br>
                        <p>Datos que no tienen que faltar:</p><br>
                            <ul>
                                <li>Tipo de trabajo ejemplo Revista, Folleto tríptico, folleto una hoja, Estuche, Afiche, Libro, Catalogo, Materil POP, etc.</li>
                                <li>Cantidad /es.</li>
                                <li>Tamaño abierto y cerrado.</li>
                                <li>Cantidad de colores  (indica si son de fotocromo y ó Pantones)</li>
                                <li>Tipo de papel ejemplo Encapado ilustración mate , Brillante, Obra, Cartulina duplex ó triplex, papel vejetal, papeles especiales, etc</li>
                                <li>Que gramaje de papel (de 90 gr. a 400 gr. para encapados y de 44 gr. a 240 para Obra)</li>
                                <li>Tipo de encuadernación ejemplos: 2 broches, lomo cuadrado (Binder, Everflex, Pur), cosido a hilo, tapas duras con cartone, etc.</li>
                                <li>Terminaciones Standard Barniz de maquina mate, brillante ó semimate, Polipropileno mate, brillante, Plata, oro ó tramados, Laca U.V. por sectores ó plena, Cuño seco, hot stamping, troquelado, doblado, pegado, trazado, perforado, etc.</li>
                                <li>Terminaciones especiales colocado de cd ´s ò piezas, montado, tinta U.V., numerado, emblocado, pegado de cinta doble faz, embolsado, ensobrado, patas trasparentes para movies, etc.</li>
                            </ul>
                    </div>                            
                </section>
            </main>
            <footer>
                <nav class="footer__nav">
                    <ul class="footer__menu">
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="./Nosotros.html">Nosotros</a></li>
                        <li><a href="./Servicios.html">Servicios</a></li>
                        <li><a href="./Portfolio.html">Portfolio</a></li>
                        <li><a href="./Contacto.html">Contacto</a></li>
                    </ul>
                    <div class="redes_sociales">
                        <img src="../Img/Facebook.png" alt="Facebook" width="50px">
                        <img src="../Img/Instagram.png" alt="Instagram"width="50px">
                        <img src="../Img/Twitter.png" alt="Twitter"width="50px">
                        <img src="../Img/WhatsApp.png" alt="WhatsApp"width="50px">
                    </div>                                
                    <div>
                        <p class="copyright">Copyright 2022 © All rights Reserved</p>
                    </div>
                    <div class="email">
                        <a href="mailto:info@printcenter.com">info@printcenter.com</a>
                    </div>
                    <div class="phone">
                        <a href="callto: 54 11 5555-5555">(+54-11) 5555-5555</a>
                    </div>
                </nav>               
            </footer>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>               
    </body>
</html>