    /*---Colors---*/

    $primary: #000000;
    $secondary: #303030;
    $alternative: #cccccc;
    $alternative2: #fff;
    $hover-background: #414141;
    $hover-text-color: #fff;
    $text-color: #2B2B2B;
    $text-color-2: #fff;
    $titulo-h1-color: #606060;
    $titulo-h2-color: #606060;
    $titulo-h3-color: #fff;
    $background-gradient: linear-gradient(to top, #727272, #d1d1d1);
    $background-color: #8f8e8e;
    $texto-color2: #4d4d4d;
    $box-shadow: rgba(102, 102, 102, 0.2);

    /*---Spacing---*/

    $spacing-xlarge: 15rem;
    $spacing-large: 5rem;
    $spacing-medium: 3rem;
    $spacing-base: 2rem;
    $spacing-small: 1.5rem;
    $spacing-xsmall: 1rem;
    $spacing-xxsmall: 0.5rem;

    /*---Font-Family---*/

    $font-principal: 'Sora', sans-serif;
    $font-secondary: 'Barlow', sans-serif;

    /*---Font Sizes---*/

    $text-xlarge: 4.0em;
    $text-large: 3.5em;
    $text-medium: 2.4em;
    $text-base: 1.8em;
    $text-small: 1.6em;
    $text-xsmall: 1.4em;

    /*---Border Radius---*/

    $radius-large: 2rem;
    $radius-medium: 1.5rem;
    $radius-small: 1rem;
